.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__picture {
  align-items: center;
  max-width: 450px;
  max-height: 450px;
  border-radius: 50%;
}

.about__info-container {
  padding-top: 51px;
  max-width: 600px;
  flex-shrink: 1;
}

.about__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1a1b22;
}

.about__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-top: 24px;
}
@media screen and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px 128px 16px;
    align-items: center;
  }

  .about__info-container {
    width: 100%;
    max-width: 90%;
    padding-top: 16px;
  }

  .about__picture {
    max-width: 272px;
    max-height: 272px;
  }

  .about__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }
}
