.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3);
}

.nav__left-container {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

.nav__logo-home {
  color: white !important;
}

.nav__logo-saved-news {
  color: #1a1b22 !important;
}

.nav__container-links {
  display: flex !important;
  column-gap: 35px;
  align-items: center;
  list-style-type: none;
  /* margin-right: 104px; */
}

.nav__logo-link {
  pointer-events: auto;
  z-index: 1000;
}

.nav__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
  border-bottom: 3px solid transparent;
  display: block;
}

.nav__btn-saved-news {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: black !important;
  border-bottom: 3px solid transparent;
}

.nav__btn-active-saved-news {
  border-bottom: 2px solid black;
  font-family: "Roboto", sans-serif;
  height: 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black !important;
}

.nav__menu-signin-btn {
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2;
  background: none;
  cursor: pointer;
  color: white;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 1);
  max-width: 152px;
  width: 152px;
  padding: 8px 12px;
  margin-bottom: 2px;
}

.nav__btn-active-home {
  font-family: "Roboto", sans-serif;
  height: 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 2px solid white !important;
  color: white !important;
}

.nav__btn-active-home-saved {
  color: black !important;
}

.nav__button-action {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-bottom: 2px solid transparent;
}

.nav__menu-icon {
  display: none;
}

.nav__menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.nav__menu-icon.saved-news span {
  background-color: black !important;
}

.nav__menu-icon span:first-child {
  top: 4px;
}

.nav__menu-icon span:last-child {
  bottom: 4px;
}

.nav__menu-icon.open span:first-child {
  transform: translateY(6px) rotate(45deg);
}

.nav__menu-icon.open span:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

.nav__btn-logout {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  padding: 12px 54px 12px 19px;
  border-radius: 100px;
  cursor: pointer;
  color: white;
  background-image: url(../../images/logout-button-white.svg);
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center right 15px;
  margin-bottom: 2px;
  margin-right: 104px;
}

.nav__btn-logout-saved-news {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  padding: 12px 54px 12px 19px;
  border-radius: 100px;
  cursor: pointer;
  color: black;
  background-image: url(../../images/logout-button-black.svg);
  border: 1px solid #1a1b22;
  background-repeat: no-repeat;
  background-position: center right 15px;
  margin-bottom: 2px;
}

.a {
  pointer-events: auto;
}

@media screen and (max-width: 1024px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav__container-links {
    column-gap: 25px;
  }

  .nav__btn-logout {
    margin: 0;
  }

  .nav__menu-signin-btn {
    max-width: 180px;
    width: 180px;
    padding: 14px 18px;
  }
}
@media screen and (max-width: 768px) {
  .nav__logo {
    font-size: 18px;
  }

  .nav__logo-saved-news {
    font-size: 18px;
  }
  .nav__container-links {
    display: flex !important;
    flex-direction: row !important;
    column-gap: 20px;
    align-items: center;
  }

  .nav__menu-icon {
    display: none !important;
  }

  .nav__btn {
    font-size: 16px;
  }

  .nav__button-action {
    font-size: 16px;
  }
  .nav__btn-saved-news {
    font-size: 16px;
  }
  .nav__btn-active {
    height: 66px;
  }
  .nav__btn-active-saved-news {
    height: 66px;
  }
  .nav__btn-signin {
    font-size: 16px;
    max-width: 128px;
    width: 128px;
  }
  .nav__btn-logout {
    font-size: 16px;
    padding: 8px 40px 8px 12px;
  }
  .nav__btn-logout-saved-news {
    font-size: 16px;
    padding: 8px 40px 8px 12px;
  }

  .nav__right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }

  .nav__open {
    transform: translateY(0);
  }

  .nav__menu-signin-btn {
    display: flex !important;
    visibility: visible !important;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: none;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    max-width: 152px;
    padding: 8px 12px;
    margin-top: 4px;
  }

  .nav__left-container {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .nav__container-links {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }

  .nav__menu-signin-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    height: 56px;
    width: 100%;
  }
  .nav__logo {
    font-size: 16px;
    margin-left: 16px;
  }

  .nav__logo-container {
    position: relative;
    z-index: 3000;
  }

  .nav__open {
    transform: translateY(0);
  }

  .nav__button {
    border-bottom: none !important;
  }

  .nav__button-action {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background: none;
    border: none;
    cursor: pointer;

    color: #fff !important;
  }

  .nav__container-links {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    /* justify-content: space-around !important; */
    padding-top: 8px !important;
    height: 230px !important;
    padding-left: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100%;
    color: white;
    row-gap: 2px;
  }

  .nav__container-links a,
  .nav__container-links button {
    color: white !important;
    font-size: 18px;
    margin-left: 16px;
    text-decoration: none;
  }

  .nav__container-links a:hover,
  .nav__container-links button:hover {
    color: #ccc;
  }

  .nav__container-links button.nav__btn-active-saved-news {
    border-bottom: 2px solid white !important;
    color: white !important;
  }

  .nav__menu-icon {
    display: block !important;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 1001;
    right: 16px;
  }

  .nav__menu-icon.open {
    opacity: 1 !important;
    z-index: 3000;
  }

  .nav__btn {
    font-size: 18px;
    margin-left: 15px;
  }

  .nav__btn-saved-news {
    font-size: 18px;
    margin: 0 !important;
  }

  .nav__btn-signin {
    max-width: 100px;
    width: 100px;
    font-size: 14px;
  }
  .nav__btn-logout {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 12px;
    font-size: 18px;
    margin-left: 16px;
    border: 1px solid #fff;
    width: 112px;
    height: 38px;
    margin-top: 15px;
  }
  .nav__btn-logout-saved-news {
    background-image: url(../../images/logout-button-white.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 12px;
    margin-top: 15px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
  }

  .nav__right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: -10px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100vw;
    height: 100vh;
    padding-top: 16px;
    pointer-events: none;
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(-100%);
    z-index: 1500;
  }
  .nav__right-container.nav__open {
    transform: translateY(0);
    opacity: 1 !important;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .nav__menu-signin-btn {
    display: flex !important;
    visibility: visible !important;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    max-width: 288px;
    height: 56px;
    width: 100vh;
    z-index: 5000;
    cursor: pointer;
  }

  .nav__menu-signin-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .nav__menu-icon.saved-news {
    display: block !important;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    /* z-index: 1001; */
    right: 16px;
  }

  .nav__btn-active-saved-news {
    border-bottom: 2px solid white !important;
    color: white !important;
  }

  .nav__btn-active-home {
    margin-bottom: 0 !important;
    font-size: 18px !important;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    min-width: 1440px;
    margin: 0;
  }

  .nav__logo-home {
    margin-left: 104px !important;
  }

  .nav__container-links {
    padding: 0 !important;
    margin-right: 104px;
  }

  .nav__logo-saved-news {
    margin-left: 20px;
  }
  .nav__btn-logout {
    margin-right: 0;
  }
}
