.newscardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}

.newscardlist__result {
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 36px;
  margin-right: auto;
}

.newscardlist__button-show-more {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 80px;
  background: #fff;
  width: 288px;
  height: 64px;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #1a1b22;
  text-align: center;
  margin: 56px auto 80px auto;
  transition: 0s linear 0.2s, opacity 0.2s linear;
}

.newscardlist__button-show-more:hover {
  opacity: 0.9;
  background: #e8e8e8;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .newscardlist {
    margin: 0;
  }
  .newscardlist__title {
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 32px;
  }

  .newscardlist__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 2px;
    margin: 0 !important;
    padding: 0;
  }

  .newscardlist__button {
    width: 240px;
    height: 56px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .newscardlist__title {
    padding-bottom: 58px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .newscardlist__button {
    margin-bottom: 24px;
  }

  .newscardlist__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 288px;
    padding: 0;
    row-gap: 10px !important;
    justify-content: center;
  }

  .newscardlist__result {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 295px) {
  .newscardlist__title {
    padding-bottom: 40px;
  }

  .newscardlist__button {
    font-size: 16px;
    margin-bottom: 20px;
    width: 250px;
    max-width: 250px;
  }
}

@media screen and (max-width: 250px) {
  .newscardlist__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .newscardlist__button {
    margin-bottom: 18px;
    width: 190px;
    max-width: 190px;
  }
}
@media screen and (min-width: 1024px) {
  .newscardlist__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    justify-content: center;
    padding: 0rem 1rem;
  }
}
